useDynLib(fastQR, .registration=TRUE)
importFrom("Rcpp", evalCpp)
import("Rdpack")
#importFrom(RcppParallel, RcppParallelLibs)
import("RcppEigen")
importFrom("stats", "sd", "var")
importFrom(stats, pt)
#exportPattern("^[[:alpha:]]+")
export(qr)
export(qr_thin)
export(qr_fast)
export(qr_Q_full)
export(qr_Q_reduced2full)
export(qr_Q)
export(qr_R)
export(qr_X)
export(qr_pivot2perm)
export(qrupdate)
export(qrdowndate)
export(rupdate)
export(rdowndate)
export(qrls)
export(qrridge)
export(qrchol)
export(rchol)
export(qrsolve)
export(qrridge_cv)
export(qrmls)
export(qrmridge)
export(qrmridge_cv)
export(qr_lse_coef)
export(qr_lse_fitted)
export(qr_lse_resid)
export(qr_lse_Qty)
export(qr_lse_Qy)
export(qr_coef)
export(qr_fitted)
export(qr_resid)
export(qr_Qty)
export(qr_Qy)
export(qr_lm)



